{{ define "main" }}

<style type="text/css" media="screen">
  h1 {
    margin: 30px 0;
    font-size: 4em;
    line-height: 1;
    letter-spacing: -1px;
  }

  body {
    height: 100%;
    vertical-align: middle;
    background-image: url(/assets/img/404-background.png);
  }

  #my_pre {
    padding-top: 3em;
    text-shadow: 0px 0px 3px rgba(96, 192, 96, 1);
    color: rgba(96, 192, 96, 0.5);
    font-weight: bold;
    font-size: 13pt;
    text-align: center;
    vertical-align: middle;
    height: 100%;
    margin: auto;
    background-color: transparent;
  }
</style>

<script type="text/javascript">
/*

      Do not read this code.

      It was raised by wolves

      several years ago.

      The wolves didn't really know JavaScript.

 */

function getTextPixels(text, size) {
  var canvas = document.createElement("canvas");
  var context = canvas.getContext("2d");

  var font = size + "px bold";

  // Measure how big the text will be
  context.font = font

  // Resize the canvas so it's totally filed by the text.
  // Seems like usually about 25% is vertical spacing, so knock that off.
  canvas.width = context.measureText(text).width;
  canvas.height = size * 0.75

  // For some reason resizing the canvas resets the font. I wonder if that's
  // supposed to happen?
  // Anyway, set it again
  context.font = font

  context.fillText(text, 0, canvas.height);

  return context.getImageData(0, 0, canvas.width, canvas.height);
}

/*
  Turn back
 */

function getTextClosure(text) {
  var t = text;
  var i = 0;
  return function() {
    var ret = t[i];
    i = (i + 1) % t.length;
    return ret;
  }
}

var osc;
var gain;
var context;

function initNoise() {
  context = new AudioContext();

  osc = context.createOscillator();
  osc.frequency.value = 1000;
  osc.type = "square"
  gain = context.createGain();

  gain.gain.value = 0;
  osc.start();

  osc.connect(gain);
  gain.connect(context.destination);
}

function makeNoise() {
  gain.gain.setValueAtTime(0.005, context.currentTime);
  gain.gain.linearRampToValueAtTime(0, context.currentTime + 0.05);
}

/*
    Why are you stil here
 */

window.onload = function() {
  var data = getTextPixels("404", 30);
  var text = [];
  var getNextChar = getTextClosure("FILE_NOT_FOUND_");

  initNoise();

  for (var y = 0; y < data.height; y++) {
    var row = []
    for (var x = 0; x < data.width; x++) {
      row.push(" ");
    }
    text.push(row);
  }

  function squash(text) {
    var ret = "";
    for (var i = 0; i < text.length; i++) {
      ret += text[i].join("") + "\n";
    }
    return ret;
  }

  var pre = document.getElementById("my_pre");

  var y = 0; var x = 0;
  function f() {
    if (y >= data.height) {
      return;
    }

    var pixelIndex = ((y * data.width) + x) * 4 + 3;

    if (data.data[pixelIndex] != 0) {
      c = getNextChar();
      text[y][x] = c;
      pre.innerHTML = squash(text);
      makeNoise();
      window.setTimeout(f, 50);
    } else {
      window.setTimeout(f, 10);
    }

    x = (x + 1) % data.width;
    if (x == 0) {
      y++
    }
  }

  f();
}

/* Don't say I didn't warn you */
</script>

<noscript><h1>File not found</h1></noscript>

{{- partial "back_link.html" . -}}

<div class="container">
  <pre id="my_pre"></pre>
</div>

{{ end }}